@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@keyframes anime {
    from {
        text-shadow: 0px 0px 10px #fff, 
            0px 0px 10px #fff, 
            0px 0px 25px #fff, 
            0px 0px 25px #fff, 
            0px 0px 25px #fff, 
            0px 0px 25px #fff, 
            0px 0px 25px #fff, 
            0px 0px 25px #fff, 
            0px 0px 50px #fff, 
            0px 0px 50px #fff, 
            0px 0px 50px #7B96B8, 
            0px 0px 150px #7B96B8, 
            0px 10px 100px #7B96B8, 
            0px 10px 100px #7B96B8, 
            0px 10px 100px #7B96B8, 
            0px 10px 100px #7B96B8, 
            0px -10px 100px #7B96B8, 
            0px -10px 100px #7B96B8;
    }

    0% {opacity: .0;}

    2% {opacity: .02;}

    4% {opacity: .04;}

    6% {opacity: .06;}

    8% {opacity: .08;}

    10% {opacity: .1;}

    12% {opacity: .15;}

    14% {opacity: .2;}

    16% {opacity: .25;}

    18% {opacity: .3;}

    20% {opacity: .35;}

    22% {opacity: .4;}

    24% {opacity: .45;}

    26% {opacity: .5;}

    28% {opacity: .55;}

    30% {opacity: .6;}

    32% {opacity: .65;}

    34% {opacity: .7;}

    36% {opacity: .75;}

    38% {opacity: .8;}

    40% {opacity: .85;}

    42% {opacity: .9;}

    44% {opacity: .95;}

    46% {opacity: 1;}

    100% {opacity: 1;}
}

</style >

html {
    font-size: 14px;
}

.navbar {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(253, 250, 250, 0.05);
    box-shadow: inherit;
    background-color: rgb(255, 255, 255, 0.05);
}

.navbar-brand {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

.nav-link {
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}
    
.btn-search {

}

.card-header {
    background-color: rgb(255, 255, 255, 0.25);
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url("/lib/Images/background.png");
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.row {

}

.movie-image {
    background-color: rgb(253, 252, 252, 0.05);
}
.actor-table {
    border: none;
}

.table {
    color: white;
}

.btn btn-Outline-primary {
    color: white;
}

.movie-header {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
}

.producer-header {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

.actor-header {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

.studio-header {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

.add-actor-header {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
}

